extends layout 

block content
 link(rel='stylesheet', href='/stylesheets/reviews.css')
 
 h1 #{Game.Name} Reviews

 if hasReviews

    button#leftScroll.float-start &#8592;
    button#rightScroll.float-end &#8594;
    .ReviewContainer
     #overflowScroll.d-flex.flex-lg-row
      each r in Game.Reviews
        .review
         img.icon(src='/images/Icon.jpg' height="70" width="70" alt="Icon")
         .text
          p 
           strong #{r.Author} - #{r.TimeStamp.toLocaleDateString('en-IE')} 
          p 
           strong.displayScore.p-2 #{r.Score}/100
          p.mt-5 ''#{r.ReviewText}''


 else
    p No Reviews Exist for This Game Try Leaving One
 button#showBtn.col-md-12(type="button") Leave a review

 #slidingContainer
  form  
    h1.header1 Add Review 
    .container 
     .row.mt-3
      label(for="rating") Score 1-100
      input.score(type="number" id="rating" name="rating" min="1" max="100" required)
     .row.mt-3
      label(for="description") Description
      textarea.description(type="text" name="description" required rows='5')
    
     div
      .row.d-flex.justify-content-around    
       button#hideBtn.button(type="button") Cancel
       input.button(type="submit")

  script(src='/javascripts/displayAddReview.js')